@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "DM Sans Variable", sans-serif;

	--color-body-bg: #d5c7ff;
	--color-body-bg-dark: #08060e;
	--color-body-text: #461c9c;
	--color-body-text-dark: #d2bcff;
	--color-body-link: #043279;
	--color-body-link-dark: #b18aff;
	--color-logo-text: #29186a;
	--color-logo-text-dark: #dbadff;
	--color-alt-text: #140531;
	--color-alt-text-dark: #a68cd9;

	--container-content: 60rem;
}

@layer base {
	a {
		@apply text-body-link dark:text-body-link-dark underline underline-offset-2;
	}

	* {
		@apply scroll-m-14;
	}
}

@utility prose-main {
	--tw-prose-body: var(--color-body-text);
	--tw-prose-headings: var(--color-body-text);
	--tw-prose-lead: var(--color-violet-700);
	--tw-prose-links: var(--color-body-link);
	--tw-prose-bold: var(--color-violet-400);
	--tw-prose-counters: var(--color-violet-800);
	--tw-prose-bullets: var(--color-violet-800);
	--tw-prose-hr: var(--color-violet-100);
	--tw-prose-quotes: var(--color-violet-400);
	--tw-prose-quoteborders: var(--color-violet-400);
	--tw-prose-captions: var(--color-violet-800);
	--tw-prose-thborders: var(--color-violet-800);
	--tw-prose-tdborders: var(--color-violet-800);
	--tw-prose-code: var(--color-alt-text);
	--tw-prose-kbd: var(--color-alt-text);
}

@utility prose-dark {
	--tw-prose-body: var(--color-body-text-dark);
	--tw-prose-headings: var(--color-body-text-dark);
	--tw-prose-lead: var(--color-violet-400);
	--tw-prose-links: var(--color-body-link-dark);
	--tw-prose-bold: var(--color-violet-400);
	--tw-prose-counters: var(--color-violet-300);
	--tw-prose-bullets: var(--color-violet-300);
	--tw-prose-hr: var(--color-violet-100);
	--tw-prose-quotes: var(--color-violet-400);
	--tw-prose-quoteborders: var(--color-violet-400);
	--tw-prose-captions: var(--color-violet-300);
	--tw-prose-thborders: var(--color-violet-300);
	--tw-prose-tdborders: var(--color-violet-300);
	--tw-prose-code: var(--color-alt-text-dark);
	--tw-prose-kbd: var(--color-alt-text-dark);
}